* {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100;
  margin-bottom: 40px;
}
.section-title h1 {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  color: #000000;
  margin: 0 0 10px;
  position: relative;
}
.section-title h1::before {
  content: "";
  left: 0;
  height: 2px;
  right: 35%;
  background-color: #08aff1;
  bottom: 0px;
  position: absolute;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

/* Header */
header {
  position: absolute;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #cecccc;
  padding: 0px 15px;
  background-color: #8d8d8dc4;
  z-index: 10;
}
header.fixed {
  background-color: #ffffff;
  position: fixed;
  border-color: #eeeeee;
  animation: fixHeader 0.5s ease;
  z-index: 100;
}

@keyframes fixHeader {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0%);
  }
}

header .row {
  justify-content: space-between;
  align-items: center;
}
header .brand-name a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
}
header .brand-name a::before {
  content: "";
  height: 3px;
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

header.fixed .brand-name a {
  color: #000000;
}
header .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header .navbar ul li {
  display: inline-block;
  margin-left: 35px;
}
header .navbar ul li a {
  font-size: 15px;
  text-decoration: none;
  line-height: 72px;
  font-weight: 600;
  color: #ffffff;
  display: block;
  position: relative;
}
header.fixed .navbar ul li a {
  color: #000000;
}
header .navbar ul li a::before {
  content: "";
  height: 3px;
  background-color: #ffffff;
  width: 0;
  position: absolute;
  right: 0px;
  bottom: -1px;
  transition: all 0.5s ease;
}
header.fixed .navbar ul li a::before {
  background-color: #08aff1;
}
header .navbar ul li a:hover::before {
  width: 100%;
  left: 0;
}
header .navbar ul li a.active::before {
  width: 100%;
  left: 0;
}

/* Home */
.home {
  min-height: 100vh;
  background-image: url("Images/markus-spiske-hvSr_CVecVI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}
.home .full-screen {
  min-height: 100vh;
}
.home .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home .home-content .block {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 35px;
  border-left: 5px solid #ffffff;
  margin-top: 50px;
}
.home .home-content .block h6 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
.home .home-content .block h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
.home .home-content .block h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
.home .home-content .block .resume-butt {
  padding-top: 20px;
}
.home .home-content .block .resume-butt a {
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
}
.home .home-content .block .resume-butt a:hover {
  background-color: #ffffff;
  color: #000000;
}

/* About Me */
.about-me {
  padding: 100px 65px;
  background-color: #ffffff;
}
.about-me .section-title {
  flex: 0 0 100%;
  max-width: 100;
  margin-left: 80px;
}
.about-me .section-title h1 {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  color: #000000;
  margin: 0 0 10px;
  position: relative;
}
.about-me .section-title h1::before {
  content: "";
  left: 0;
  height: 2px;
  right: 35%;
  background-color: #08aff1;
  bottom: 0px;
  position: absolute;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.about-me .section-title p.small {
  display: block;
  font-size: 14px;
  color: #727272;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.about-me .about-content .pic {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-left: -30px;
}
.about-me .about-content .pic img {
  width: 100%;
  display: block;
}
.about-me .about-content .text {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding-left: 30px;
}
.about-me .about-content .text h4 {
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 5px;
  color: #000000;
}
.about-me .about-content .text h6 {
  font-size: 18px;
  font-weight: 550;
  margin: 0 0 15px;
  color: #000000;
}
.about-me .about-content .text h6 span {
  color: #08aff1;
}
.about-me .about-content .text p {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
  margin: 0 0 10px;
}
.about-me .about-content .text .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.about-me .about-content .text .info .info-list {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #cecccc;
  padding-bottom: 10px;
}
.about-me .about-content .text .info .info-list label {
  padding-right: 10px;
  color: #000000;
  font-weight: 900;
  font-size: 15px;
}
.about-me .about-content .text .info .info-list p {
  margin: 0;
}
.about-me .about-content .text .social-links {
  padding-top: 30px;
}
.about-me .about-content .text .social-links a {
  height: 30px;
  width: 30px;
  background-color: #000000;
  border-radius: 3px;
  border: 1px solid #000000;
  display: inline-block;
  line-height: 28px;
  text-align: center;
  margin: 0 1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about-me .about-content .text .social-links a:hover {
  background-color: transparent;
}
.about-me .about-content .text .social-links a:hover .fa {
  color: #000000;
}
.about-me .about-content .text .social-links a .fa {
  color: #ffffff;
  font-size: 18px;
}

/* Skills */
.skills {
  padding: 100px 15px;
  background-color: #ffffff;
}
.skills .skills-content {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 40px;
}
.skills .pic {
  background-color: blue;
  flex: 0 0 50%;
  max-width: 50%;
}
.align-items-center {
  align-items: center;
}
.skills .pic img {
  width: 100%;
  display: block;
}
.skills .section-title {
  margin-bottom: 15px;
}
.skills .section-title h1::before {
  right: 2%;
}
.skills .skills-content .section-title p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #696969;
  margin: 15px 0 20px;
}
.skills .skills-content .skill-container {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 30px;
}
.skills .skills-content .skill-container h5 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin: 0 0 10px;
}
.skills .skills-content .skill-container h6 {
  font-size: 12px;
  font-weight: 300;
  color: #000000;
  margin: -5px 0 8px;
}
.skills .skills-content .skill-container .skill-bar {
  height: 5px;
  background-color: #eeeeee;
  position: relative;
}
.skills .skills-content .skill-container .skill-bar .skill-bar-in {
  background-color: #08aff1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.skills .skills-content .skill-container .skill-bar .skill-bar-in span {
  color: #696969;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0;
  top: -30px;
}

/* Projects */
.projects {
  background-color: #ffffff;
  padding: 100px 15px;
}
.projects .section-title h1::before {
  right: 1%;
}
.projects .filter-buttons {
  flex: 0 0 100%;
  max-width: 100%;
}
.projects .filter-buttons ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.projects .filter-buttons ul li {
  display: inline-block;
  margin: 0 8px;
  font-weight: 800;
  font-size: 15px;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 0px;
}
.projects .filter-buttons ul li.active {
  color: #08aff1;
  border-bottom: 2px solid #08aff1;
}
.projects .filter-buttons {
  margin-top: -20px;
  margin-bottom: 25px;
}
.projects .row {
  display: flex;
  justify-content: center;
}
.projects .projects-gallery .inner {
  width: 300px;
  height: 250px;
}
.projects .projects-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .projects-gallery .item {
  position: relative;
  justify-content: center;
  border: 2px solid #000000;
}
.projects .projects-gallery .item img {
  width: 300px;
  height: 250px;
}
.projects .projects-gallery .item .overlay {
  /* width: 300px;
  height: 250px; */
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .projects-gallery .item:hover .overlay {
  opacity: 1;
}
.projects .projects-gallery .item .overlay .fa {
  height: 40px;
  width: 40px;
  background-color: #08aff1;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}
.projects .projects-gallery .item .overlay .fa:hover {
  background-color: #ffffff;
  color: #08aff1;
}
.projects .projects-gallery .item:hover .overlay .fa {
  animation: galleryIcon 0.8s ease;
  -webkit-animation: galleryIcon 0.8s ease;
}
@keyframes galleryIcon {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.projects .projects-gallery .item .overlay .info {
  padding-bottom: 15px;
}
.projects .projects-gallery .item .overlay h3 {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}
.projects .projects-gallery .item .overlay h5 {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}
.projects .projects-gallery .item:hover .overlay h3,
h5 {
  animation: galleryText 0.8s ease;
  -webkit-animation: galleryText 0.8s ease;
}
@keyframes galleryText {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Modal */
/* .modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal.show {
  display: flex;
}
.modal.hide {
  display: none;
}
.modal .close-modal {
  height: 35px;
  width: 35px;
  background-color: #ffffff;
  color: #08aff1;
  text-align: center;
  line-height: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 101;
}
.modal img {
  max-width: 70%;
  max-height: 70%;
  display: block;
} */

/* Message text */
.message-text {
  background-color: #000000;
  padding: 50px 90px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.message-text .text {
  display: flex;
  justify-content: center;
}
.message-text .text h2 {
  font-size: 22px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 30px;
}
/* .message-text .row .button {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  text-align: right;
}
.message-text .button a {
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
  background-color: transparent;
}
.message-text .button a:hover {
  background-color: #ffffff;
  color: #000000;
} */

/* Contact Me */
.contact-me {
  padding: 100px 0px;
  background-color: #ffffff;
}
.contact-me .section-title h1::before {
  right: 1%;
}
.contact-me .contact-form {
  background-color: #ffffff;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 50px;
  border: 1px solid #eeeeee;
}
.contact-me .contact-form .text {
  flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 10px;
}
.contact-me .contact-form .text h2 {
  font-size: 25px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
}

.contact-me .contact-form .status {
  padding: 0px;
  color: #f52323;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
  margin-top: 10px;
  width: 30%;
  font-family: "Roboto Mono", monospace;
  margin-left: 50%;
  transform: translate(-50%);
  line-height: 20px;
}

.contact-me .contact-form .space-between {
  justify-content: space-between;
}
.contact-me .contact-form .input-field {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
}
.contact-me .contact-form .message-field {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact-me .contact-form .form-control {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #eeeeee;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}
.contact-me .contact-form textarea.form-control {
  height: 140px;
}
.contact-me .contact-form .form-control::placeholder {
  color: #838383;
}
.contact-me .contact-form .button {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact-me .contact-form .button input {
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
  background-color: #08aff1;
  box-shadow: 0px 10px 15px #e8e8e8;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
}
.contact-me .contact-form .button input:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Footer */
footer {
  padding: 70px 15px;
  background-color: #000000;
}
footer .logo {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  font-size: 45px;
  color: #ffffff;
  font-weight: 900;
}
footer .social {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding-top: 15px;
  font-size: 25px;
}
footer .social a {
  color: #999999;
  text-decoration: none;
  display: inline-block;
  margin: 0px 12px;
  transition: all 0.5s ease;
  text-decoration: none;
}
footer .social a:hover {
  color: #ffffff;
}

/* Copyright  */
.copyright {
  background-color: #000000;
  border-top: 1px solid #1d1d27;
  padding: 15px;
}
.copyright p {
  color: #838383;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}

.ham-burger .fa {
  font-size: 20px;
  height: 30px;
  width: 35px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  display: none;
  border: 1px solid #eeeeee;
}

/* Responsive  */
@media (max-width: 991px) {
  .home .home-content .block h1 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .home .home-content .block h1 {
    font-size: 40px;
  }
  .home .home-content .block h3 {
    font-size: 25px;
  }
  header {
    padding: 15px;
    position: fixed;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #eeeeee;
  }
  header .brand-name a {
    color: #000000;
  }
  .ham-burger .fa {
    display: inline-block;
  }
  .navbar {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0px;
    top: 60px;
    padding: 15px;
    border-top: 1px solid #eeeeee;
    display: none;
    border-bottom: 1px solid #eeeeee;
  }
  .navbar.show {
    display: block;
  }
  header .navbar ul li {
    display: block;
    margin-left: 0;
  }
  header .navbar ul li a {
    line-height: 42px;
    color: #000000;
  }
  header .navbar ul li a::before {
    background-color: #08aff1;
  }

  .about-me .about-content .text {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-top: 30px;
  }
  .about-me .about-content .pic {
    flex: 0 0 90%;
    max-width: 90%;
    padding-left: 150px;
  }

  .skills .skills-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0px;
  }
  .skills .pic {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .projects .projects-gallery {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .projects .projects-gallery .item {
    flex: 0 0 calc(50%-5px);
    max-width: calc(50%-5px);
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  .projects .projects-gallery .item img {
    width: 100%;
    height: 75%;
  }

  .message-text .text {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .message-text .button {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: left;
    padding-top: 20px;
  }

  .contact-me .contact-form {
    padding: 40px 20px;
  }
  .contact-me .contact-form .input-field {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .block h1 {
    font-size: 30px;
  }
  .home .home-content .block h3 {
    font-size: 20px;
  }
  .home .home-content .block {
    padding-left: 20px;
  }

  .projects .projects-gallery .item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about-me .about-content .text .info .info-list p {
    flex: 0 0 100%;
  }
}

/* Throw Away  */
/* .projects .projects-gallery {
  flex: 0 0 85%;
  max-width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

/* .projects .projects-gallery .item {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex: 0 0 calc(33.33% - 5px);
  max-width: calc(33.33% - 5px);
  margin-bottom: -80px;
  position: relative;
}
.projects .projects-gallery .item img {
  width: 100%;
  height: 75%;
  display: block;
}
/* .projects .projects-gallery .item .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  opacity: 0;
  transition: all 0.5s ease;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
